.grid{
    display: block;
    width:auto;
}
.grid.wide{
    width: 1200px;
    margin: 0 auto;
    
    
}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin-left:-5px;
    margin-right: -5px;  
}
.row.no-gutter {
    margin:0;
}

.col{
    padding: 0 5px; 

}

.row.no-gutter .col{
    padding: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.c-1-2{
    flex: 0 0 10%;
    max-width: 10%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.c-2-4{
    flex:0 0 20%;
    max-width: 20%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}   